body {
    background-color: #f5e8e0;
    font-family: 'Montserrat', sans-serif; 
    text-align: center; 
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.video-item {
    background-color: #B0EBB4;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 400px;
    padding: 20px;
    text-align: left; 
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.competicion {
    color: #4e4c4c;
    font-size: 16px;
    margin-bottom: 20px;
}

.miniatura {
    max-width: 100%;
    border-radius: 5px;
}

.video {
    margin-top: 15px;
}